#if ($teams.size() > 0)
  <h1>Teams</h1>
  <ul>
    #foreach ($team in $teams)
      <li><a href="/teams/$team.getId()">$team.getName()</a></li>
    #end
  </ul>
#else
  <h3>There are no teams yet. Be the first to <a href="/teams/new">add a team</a>!</h3>
#end
