<h1>Hacker Tracker</h1>

<a href="/teams/new">Add a Team</a>

#if ($teams.size() > 0)
  <h2>Teams</h2>

  <ul>
    #foreach ($team in $teams)
      <li><a href="/teams/$team.getId()">$team.getName()</a></li>
    #end
  </ul>
#end
