<h1>About</h1>
<p>Snack-a-thon is 3 day programming event with a heavy focus on snacks. Teams usually write snack-focused programs, but it is not a requirement. Of course, we provide a ton of snacks, but you are encouraged to bring your own snacks if you wish.</p>
<p>The team that produces the most impressive application will receive a year's supply of <a href="https://www.combos.com/products">Combos</a>!</p>
