<h1>Add A Team Member</h1>
<form action="/members" method="post">
  <input type="hidden" name="id" value="$team.getId()" id="id">
  <div class="form-group">
    <label for="name">Team Member Name</label>
    <input type="text" name="name" id="name" class="form-control">
  </div>
  <button type="submit"class="btn btn-danger">ADD</button>
</form>
