<h1>Add Your Team</h1>
<form action="/teams" method="post">
  <div class="form-group">
    <label for="name">Team Name</label>
    <input type="text" name="name" id="name" class="form-control" required="true">
  </div>
  <button type="submit"class="btn btn-danger">ADD</button>
</form>
