<h1>Snack-a-thon</h1>
<h2>$team.getName()</h2>
#if ($members.size() > 0)
  <h3>Members</h3>
  <ul>
    #foreach ($member in $members)
      <li><a href="/teams/$team.getId()/members/$member.getId()">$member.getName()</a></li>
    #end
  </ul>
#end
<a href="/teams/$team.getId()/members/new">Add Member</a>
<br>
<a href="/teams">View Teams</a>
